body{
    background: rgb(89, 90, 97);
}
input[type='text']{
    background: transparent;
    color: white;
}

input[type='text']:focus{
    background: transparent;
    color: white

}
input::placeholder{
    font-weight: bold;
}
.mylist_input{
    width: 68%;
    margin-top: .2rem;
    margin-bottom: .2rem;
    border:2px solid grey;
    border-radius: .2rem;

}
#checklist_btn{
    width: 100%;
    margin: unset;

}
#addtodobtn{
    width:100%;
    margin:0 .3rem 0 0 ;


}
.btn{
    margin: .5rem 0 .2rem .2rem;
    width: 15%;


}


@media (max-width:675px) {
.btn{
        margin: .5rem 0 .3rem .3rem;
        width: 4.5rem;
    
    }
    .form-control{
        width: 75vw;
    }
    .mylist_input{
        width: 55%;
    }
    #checklist_btn{
        width: 24vw;
    }

    #addtodobtn{
        width:100%;
        
        

    }
}